/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(156, 152, 152);
}
div.col-8, div.col-4{
    margin-top: 35px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;

    text-align: center;
}
div.cart{
    margin-left: 35px;
    margin-bottom: 35px;
}

footer{
    position:absolute;
    bottom: 0;
    width: 100%;
}